<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Concentration Game Heroku</title>
    <link rel="stylesheet" href="/styles/style.css" charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/scripts/app.js"></script>
  </head>
  <body class="noselect">
    <%= yield %>
  </body>
</html>
